//colors
$dark-blue: #0F1830;
$white: white;
$gray: gray;
$black: black;
$l-g: rgb(180, 176, 176);

//max-widths
$m-w-1250: 1250px;

//margins
$m-120: 120px;
$m-10: 10px;
$m-6: 6px;

//padding
$p-85: 85px;
$p-90: 90px;
$p-4: 4px;
$p-6: 6px;
$p-l-45: 45px;

//gaps
$g-11: 11px;
$g-10: 10px;
$g-40: 50px;

//widths
$w-250: 250px;
$w-35: 35px;

//flex
$f: flex;

//heights
$h-2: 2px;

//line-heights
$l-h-2: 2;

//font size
$f-14: 14px;
$f-15: 15px;
$f-17: 17px;

//border radius
$b-r-10: 10px;

//font sizes 
$f-12: 12px;